@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">환영합니다.</h1>
    <h2>반갑습니다.</h2>
    오늘의 <i><b>날씨</b></i>는 흐립니다.
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
<div>
    
    <h2>동물원</h2>
        <ul>
            <li>사자</li>
            <li>호랑이</li>
            <li>코끼리</li>
            <li>늑대</li>
        </ul>

    <h2>식물원</h2>
        <ol>
            <li>소나무</li>
            <li>전나무</li>
            <li>벚나무</li>
            <li>무궁화</li>
        </ol>
</div>
