@model MyTagHelper.Models.message_board
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="img/ToyBox.jpg" asp-append-version="true" width="200" height="200" alt="장난감 상자" />
    <h1 class="display-4">마구잡이 게시판</h1>
    <p></p>
</div>

<div class="container " > 
    <div class="col-sm-7 mx-auto bg-info p-2 text-dark bg-opacity-25">
        <form method="post" actoin="./">
            <label asp-for="Title">제목:</label>
            <input asp-for="Title" placeholder="제목을 입력해주세요." 
                class="form-control 
                        d-inline-flex focus-ring focus-ring-info py-1 px-2 text-decoration-none border rounded-2" />
            <p></p>
            <label asp-for="Writer">작성자:</label>
            <input asp-for="Writer" placeholder="작성자 이름을 입력해주세요." 
                class="form-control 
                d-inline-flex focus-ring focus-ring-info py-1 px-2 text-decoration-none border rounded-2" />
            <p></p>
            <label asp-for="WriteDate">작성날짜:</label>
            <input asp-for="WriteDate" type="date" 
                class="form-control
                        d-inline-flex focus-ring focus-ring-info py-1 px-2 text-decoration-none border rounded-2  " />
            <p></p>
            <label asp-for="Categories">카테고리:</label>
            <select asp-for="Categories" asp-items="Html.GetEnumSelectList<Categories>()"
                class="form-control 
                        d-inline-flex focus-ring focus-ring-info py-1 px-2 text-decoration-none border rounded-2">
                <option value="">카테고리를 선택해주세요.</option>
            </select>
            <p></p>
            <label asp-for="Description">내용:</label>
            <textarea asp-for="Description" rows="10" placeholder="내용을 입력해주세요."
                class="form-control
                        d-inline-flex focus-ring focus-ring-info py-1 px-2 text-decoration-none border rounded-2">
            </textarea>
            <p></p>
            <label asp-for="IsPublic">공개 설정:</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="IsPublic" value="공개">
                <label class="form-check-label" for="flexRadioDefault1">
                    공개
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="IsPublic" value="비공개" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    비공개
                </label>
            </div>
            <p></p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <input type="submit" value="작성" class="btn btn-outline-dark" />
            </div>
        </form>
    </div>
</div>