@model List<EmptyViewImports.Models.Student>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@{
    foreach(var item in Model)
    {
        <h2>@item.Id</h2>
        <h2>@item.Name</h2>
        <h2>@item.HP</h2>
        <h2>-------------------</h2>
    }
}

