@{
    ViewData["Title"] = "Home Page";
    var Cars = ViewData["data1"] as List<Car>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Brand</th>
            <th>Speed</th>
        </tr>
        @foreach (var item in Cars)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Brand</td>
                <td>@item.Speed</td>
            </tr>
        }

    </table>
</div>